@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #eee;
  line-height: 1.5;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.container {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.line-through {
  text-decoration: line-through;
}

p {
  padding: 25px;
}

#logo {
  width: 135px;
  height: auto;
}

/****************************************************
               MEDIA QUERY FOR NAV & NAV BUTTON
****************************************************/
#slideBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  color: orangered;
  z-index: 900;
}

@media screen and (min-width: 569px) {
  #slideBtn {
    display: none;
  }
}

#slideNav {
  padding: 100px 0;
  text-align: center;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  line-height: 5;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
  -webkit-transform: translate3d(-100vw, 0, 0);
          transform: translate3d(-100vw, 0, 0);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  overflow: hidden;
}

#slideNav h2 a {
  color: #333;
  text-decoration: none;
  text-transform: capitalize;
}

#slideNav h2 a:hover {
  color: orangered;
}

#slideNav.show {
  -webkit-transform: translate3d(0vw, 0, 0);
          transform: translate3d(0vw, 0, 0);
}

/***********************************************
                     HEADER
***********************************************/
.flex-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eee;
}

.flex-nav #slideBtn {
  margin-right: 25px;
}

.flex-nav #logo {
  margin: 0;
}

.flex-nav .flex-menu {
  display: none;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  margin: 0;
}

.flex-nav .flex-menu li a {
  display: block;
  padding: 1em;
  color: #000;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-decoration: none;
  text-transform: capitalize;
}

.flex-nav .flex-menu li a:hover {
  text-decoration: none;
  color: orangered;
}

@media screen and (min-width: 569px) {
  .flex-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-nav #logo {
    margin: 10px;
  }
  .flex-nav .flex-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1em;
  }
}

@media screen and (min-width: 880px) {
  .flex-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex-nav #logo {
    margin: 10px;
  }
  .flex-nav .flex-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flex-nav .flex-menu:hover li a {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    opacity: .2;
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  .flex-nav .flex-menu li a {
    display: block;
    border-radius: 10px;
    position: relative;
    padding: .5em;
    text-transform: uppercase;
  }
  .flex-nav .flex-menu li a:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

/***********************************************
                     Landing and Sites
***********************************************/
#landing-sites .title {
  margin: 30px auto;
  width: 300px;
  text-align: center;
  border: 2px solid black;
}

#landing-sites figure {
  margin: 20px 0;
  max-width: 100%;
  height: auto;
  position: relative;
  -webkit-transition: .1s all;
  transition: .1s all;
}

#landing-sites figure img {
  display: block;
  width: 100%;
  height: auto;
}

#landing-sites figure .figure-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: auto;
  opacity: 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.4);
}

#landing-sites figure .figure-overlay:hover {
  opacity: 1;
}

#landing-sites figure .overlay-content {
  color: #333;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#landing-sites figure .overlay-content .fa {
  color: lightgreen;
}

#landing-sites .container {
  margin: 50px auto;
}

/***********************************************
                     SKILLS
***********************************************/
#skills ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#skills ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 50px;
  padding: 10px;
  color: #333;
}

#skills ul li:hover {
  color: orangered;
}

/***********************************************
                     CONTACT
***********************************************/
#contact {
  position: relative;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .contact-title {
  padding-top: 2em;
  font-size: 2em;
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
}

#contact .top {
  position: relative;
  width: 100%;
  padding: 25px 0;
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1470175369463-7bb9f41e614b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: #000;
}

#contact .top .contactBtn {
  border: 2px solid #fff;
  padding: .5em;
  color: #fff;
  -webkit-transition: .2s all;
  transition: .2s all;
}

#contact .top .contactBtn:hover {
  text-decoration: none;
  background: #fff;
  color: #000;
}

#contact .bottom {
  height: 200px;
  height: 100%;
  text-align: center;
  color: #000;
  font-size: 1em;
  letter-spacing: 1px;
  background: #eee;
}

#contact .bottom .fa {
  -webkit-transition: .5s all;
  transition: .5s all;
  color: #38B1DC;
  font-size: 25px;
  padding: .5em;
}

#contact .bottom .fa:hover {
  color: orangered;
}

form.form {
  max-width: 500px;
  padding: 2em;
  width: 100%;
  margin: 0 auto;
}

form.form ::-webkit-input-placeholder {
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
}

form.form :-ms-input-placeholder {
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
}

form.form ::-ms-input-placeholder {
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
}

form.form ::placeholder {
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
}

form.form input {
  width: 100%;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid #000;
  outline: none;
  margin: .25em;
  padding: .25em;
  color: #000;
}

form.form input:focus {
  border-bottom: 2px solid orangered;
  background: rgba(255, 255, 255, 0.8);
}

form.form textarea {
  outline: none;
  border: none;
  width: 100%;
  margin: 10px auto;
  min-height: 100px;
  background: rgba(255, 255, 255, 0.4);
  color: #000;
  border-bottom: 2px solid #000;
}

form.form textarea:focus {
  border-bottom: 2px solid orangered;
  background: rgba(255, 255, 255, 0.8);
}

form.form input[type="submit"] {
  color: #000;
  margin-top: 25px;
  padding: .25em 1.25em;
  border-radius: 5px;
  font-weight: 700;
  background: transparent;
  border: 2px solid #000;
  -webkit-transition: .1s all ease-in;
  transition: .1s all ease-in;
}

form.form input[type="submit"]:hover {
  background: #333;
  color: #eee;
}

/***********************************************
                     BANNER
***********************************************/
#banner {
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1495511167051-13bb07bde85b?auto=format&fit=crop&w=1650&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#banner .banner-title {
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.5em;
  padding: 0;
  mix-blend-mode: overlay;
}
/*# sourceMappingURL=main.css.map */